body {
  margin: 0;
  padding: 0;
  background-color: #f2f0e7;
  font-family: heisei-kaku-gothic-std, sans-serif;
  color: #006899;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: o;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 35px;
}
.display {
  display: block;
}
.scroll {
  position: absolute;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", sans-serif;
  bottom: 60px;
  right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: -10;
  display: none;
}
.alwaysTopRight {
  z-index: 10000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 100px;
  right: -3px;
  background-color: white;
  border: 3px solid #006899;
  color: #006899;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.alwaysTopRight i {
  font-size: 30px;
}
.center {
  text-align: center;
}
.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  /* background-color: blue; */
}
.topImage {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding-top: 50px;
}
.bgClouds {
  width: 100vw;
  max-width: 100vw;
  /* border: 1px solid black; */
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1000;
  height: auto;
  object-fit: contain;
}
.apply {
  background-color: #006899;
  border-radius: 50px;
  height: 71px;
  width: 254px;
  color: white;
  border: none;
  font-size: 21px;
  margin: 20px auto;
  display: block;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.apply i {
  padding-right: 20px;
}
.aboutTitle {
  font-size: 60px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
  margin-top: 90px;
  margin-bottom: 30px;
  width: 100%;
}
.aboutTitle img {
  width: 300px;
  margin-left: -30px;
  margin-right: 10px;
}
.aboutFlex {
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* background-color: pink; */
  justify-content: space-around;
}
.aboutFlex p {
  width: 50%;
  line-height: 37px;
  /* background-color: magenta; */
}
.aboutFlex img {
  width: 30%;
  padding: 0 5%;
  object-fit: contain;
}
.titleContainer {
  text-align: center;
}
.title {
  font-size: 28px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 40px auto;
  position: relative;
  display: inline-block;
  z-index: 100;
  margin-top: 80px;
}
.title:before {
  content: url(./images/titleClouds.png);
  position: absolute;
  z-index: -1;
  left: -40px;
  top: -10px;
}
.notice {
  font-size: 13px;
  text-align: center;
  margin-top: -30px;
}
.trigger {
  margin: 30px 0 40px 0;
}
.workShops {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.workShop {
  margin-top: -25px;
}

.workShop img {
  width: 80px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.glass img {
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.workShop:before {
  content: "";
  background-image: url(./images/arrow.png);
  width: 20px;
  height: 40px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-repeat: no-repeat;
  background-size: contain;
}

.coffee {
  position: relative;
  background-image: url(./images/cloud1.png);
  width: 230px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}
.book {
  position: relative;
  background-image: url(./images/cloud2.png);
  width: 230px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}
.glass {
  position: relative;
  background-image: url(./images/cloud3.png);
  width: 230px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}
.kihon {
  background-color: #b14141;
  width: 150px;
  top: -30px;
}
.kihon2 {
  background-color: #b14141;
  top: -30px;
  left: 50%;
}
.can {
  background-color: #058b58;
  width: 200px;
  top: -50px;
}
.can2 {
  background-color: #058b58;
  top: -30px;
  left: 0;
}
.kaibo {
  background-color: #dbbc3a;
  width: 150px;
  top: -50px;
}
.kaibo2 {
  background-color: #dbbc3a;
  top: -30px;
  left: 50%;
  position: relative;
}
.kaibo2 img {
  position: absolute;
  top: -150px;
  right: -80px;
  width: 150px !important;
  object-fit: contain !important;
  transform: rotate(20deg);
}

.workShops a {
  display: block;
  margin: 0 auto;
}

.workShopCard {
  text-align: center;
  color: white;
  border-radius: 6px;
  height: auto;
  line-height: 30px;
  padding: 10px 30px 10px 45px;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  position: absolute;
}

.workShopCard:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.workShopCard:after {
  position: absolute;
  content: "";
  background-image: url(./images/ribbon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 70px;
  top: calc(50% - 1px);
  transform: translateY(-50%);
  left: -30px;
}
.white {
  background-color: white;
  position: relative;
  margin-top: -10px;
  padding-top: 20px;
  display: flex;
  padding: 0 40px;
}
.schedule {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 12px;
}
.timeLine {
  width: 200px;
  /* background-color: pink; */
  position: relative;
  margin-right: 20px;
}
.timeLine p {
  position: absolute;
  font-size: 13px;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}
.start {
  position: absolute;
  left: 5px;
  transform: translateX(-50%);
  background-color: #006899;
  padding: 8px 13px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
}
.end {
  position: absolute;
  left: 5px;
  transform: translateX(-50%);
  padding: 5px 8px;
  border-radius: 50px;
  background-color: white;
  border: 3px solid #006899;
  color: #006899;
  font-size: 14px;
}
.time1 {
  top: 0px;
}
.time2 {
  top: 246px;
}
.time3 {
  top: 330px;
}
.time4 {
  top: 576px;
}
.time5 {
  top: 660px;
}
.time6 {
  top: 906px;
}
.bar {
  background-color: #006899;
  width: 8px;
  height: calc(100% - 100px);
  border-radius: 10px;
  margin: 50px auto;
  position: relative;
}
.topSnow {
  width: 100%;
}
.bottomSnow {
  width: 100%;
  margin-top: -2px;
}
.workShopFlex {
  display: flex;
  /* background-color: linen; */
  align-items: center;
  margin: 50px 0;
}
.workShopFlex img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}
.info {
  flex-grow: 1;
  position: relative;
  padding: 45px 0 0 20px;
}
.info p {
  font-size: 14px;
}
.soundEventContainer {
  background-color: white;
  width: 100%;
}
.soundEvent {
  width: 90%;
  margin: 0 auto;
  border-top: 3px dashed #006899;
  padding: 50px 20px;
  padding-top: 60px;
  text-align: center;
}
.soundEvent h4 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 25px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.soundEvent h4:before {
  content: "";
  background-image: url(./images/leftBottom.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -30px;
  left: -25px;
  width: 40px;
  height: 40px;
}
.soundEvent h4:after {
  content: "";
  background-image: url(./images/rightTop.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -15px;
  right: -60px;
  width: 80px;
  height: 80px;
}
.middleTitle {
  font-size: 18px;
  font-weight: bold;
  padding-top: 50px;
}
.soundBook {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.soundBook p {
  padding: 0 40px;
}
.soundBook img {
  width: 150px;
  transform: rotate(10deg);
}
.accessFlex {
  display: flex;
}
.accessFlex div {
  padding-left: 20px;
}
.accessFlex div h4 {
  font-size: 21px;
}
.accessFlex div p {
  padding-top: 30px;
}
.contact {
  text-align: center;
}
.contact a {
  color: #006899;
}
.contact p {
  border-bottom: 3px solid #006899;
  display: inline-block;
  padding-right: 10px;
  margin: 10px 0;
}
.contact p i {
  padding: 0 10px;
}
.footerImage {
  transform: scale(1, -1);
  width: 100%;
  margin-top: 50px;
}
.footer {
  background-color: white;
  margin-top: -10px;
  padding: 20px 0 30px 0;
  text-align: center;
}
.footer p {
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p a {
  display: block;
  width: 120px;
  height: 30px;
  object-fit: contain;
  padding-left: 20px;
  display: inline-block;
}
.footer p a img {
  width: 120px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
}

@media screen and (max-width: 959px) {
}
